<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeliculaEspecifica</servlet-name>
        <servlet-class>servlets.PeliculaEspecifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarSilla</servlet-name>
        <servlet-class>servlets.ReservarSilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosConfiteria</servlet-name>
        <servlet-class>servlets.DatosConfiteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlets.AdminComunication.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeliculaEspecifica</servlet-name>
        <url-pattern>/PeliculaEspecifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarSilla</servlet-name>
        <url-pattern>/ReservarSilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosConfiteria</servlet-name>
        <url-pattern>/DatosConfiteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
