<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeliculaEspecifica</servlet-name>
        <servlet-class>servlets.PeliculaEspecifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarSilla</servlet-name>
        <servlet-class>servlets.ReservarSilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosConfiteria</servlet-name>
        <servlet-class>servlets.DatosConfiteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlets.AdminComunication.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>servlets.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeliculaMultiplex</servlet-name>
        <servlet-class>servlets.ticketService.PeliculaMultiplex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarSala</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEmpleado</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarComida</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarComida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncion</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarFuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAccionRol</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarAccionRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmpleado</servlet-name>
        <servlet-class>servlets.AdminComunication.LoginEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMultiplex</servlet-name>
        <servlet-class>servlets.AdminComunication.AddMultiplex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionesEspecificas</servlet-name>
        <servlet-class>servlets.ticketService.FuncionesEspecificas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecidirSillas</servlet-name>
        <servlet-class>servlets.ticketService.DecidirSillas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarConfiteria</servlet-name>
        <servlet-class>servlets.ticketService.SeleccionarConfiteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResumenCompra</servlet-name>
        <servlet-class>servlets.ticketService.ResumenCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPelicula</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarConfiteria</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarConfiteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirmar</servlet-name>
        <servlet-class>servlets.ticketService.Confirmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Negar</servlet-name>
        <servlet-class>servlets.ticketService.Negar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPeliculas</servlet-name>
        <servlet-class>servlets.AdminComunication.ListarPeliculas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeliculaEspecifica</servlet-name>
        <url-pattern>/PeliculaEspecifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarSilla</servlet-name>
        <url-pattern>/ReservarSilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosConfiteria</servlet-name>
        <url-pattern>/DatosConfiteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeliculaMultiplex</servlet-name>
        <url-pattern>/PeliculaMultiplex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarSala</servlet-name>
        <url-pattern>/ListarSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEmpleado</servlet-name>
        <url-pattern>/ListarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarComida</servlet-name>
        <url-pattern>/ListarComida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncion</servlet-name>
        <url-pattern>/ListarFuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAccionRol</servlet-name>
        <url-pattern>/ListarAccionRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmpleado</servlet-name>
        <url-pattern>/LoginEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMultiplex</servlet-name>
        <url-pattern>/AddMultiplex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionesEspecificas</servlet-name>
        <url-pattern>/FuncionesEspecificas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecidirSillas</servlet-name>
        <url-pattern>/DecidirSillas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarConfiteria</servlet-name>
        <url-pattern>/SeleccionarConfiteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResumenCompra</servlet-name>
        <url-pattern>/ResumenCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPelicula</servlet-name>
        <url-pattern>/ListarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarConfiteria</servlet-name>
        <url-pattern>/ListarConfiteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirmar</servlet-name>
        <url-pattern>/Confirmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Negar</servlet-name>
        <url-pattern>/Negar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPeliculas</servlet-name>
        <url-pattern>/ListarPeliculas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
